<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">We on a mission of helping thousands of businesses and organisations of all sizes to Grow Better.
                    We believe in scaling bigger, but more so in scaling better.
                </p>
                <p>
                    Our purpose is to provide fit for purpose software solutions tools and the platform to facilitate such growth!
                </p>
            </div>
        </div>
    </div>
</section>
