<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Spurring innovations to the ends of the globe. </h1>
            <hr class="light">

            <p class="text-faded">We on a mission of helping thousands of churches and ministries of all sizes to Grow Better.
                We believe in scaling bigger, but more so in scaling better.
            </p>
            <p>
                Our purpose is to provide fit for purpose software solutions, tools and the platforms to facilitate such growth!
            </p>
            <hr class="light">
            All contents &copy; 2024 <a href="#">WellVersedHub, Inc</a>.  All rights reserved | <a href="mailto:info@wellversedhub.com">info@wellversedhub.com</a>
        </div>
    </div>
</header>
