<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                    <h3>Product Discovery</h3>
                    <p class="text-muted">
                        Our process include ideation, refining products that meet specific market needs and
                        solve user problems.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Product Design</h3>
                    <p class="text-muted">
                        We cover it all, from identifying the market opportunity to defining the problem
                        and developing a proper solution.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Development</h3>
                    <p class="text-muted">
                        Custom development to build futuristic solutions that meet specific business goals!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-support wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Support</h3>
                    <p class="text-muted">
                        In a situation where you need us to expand the features or modify functionality of an existing system,
                        we're here to help you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
